.bg-img{
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/main-bg.jpg);
    background-size: auto;
    background-attachment: fixed;
    background-position: center;
    
}
