@import url('https://fonts.googleapis.com/css2?family=Long+Cang&display=swap');

body {
    min-height: 100vh;
    background-color: #e3e3e3;
}

header {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
    position: sticky;
}

.logo-font {
    font-family: 'Long Cang', cursive;
    font-size: 3rem;
}

.pointer {
    cursor: pointer;
}

h1 {
    color: black;
    margin: 3rem 0 0 4rem;
}

#admin-link {
    text-decoration: none;
    color: white;
}

.about {
    padding-top: 20px;
}

.unread-message {
    color: red;
}
